#a{
color: red;
}
#b{
    color: darkred;
}
#c{
    color: yellow;
    background-color: orangered;
}
#d{
    color: darkred;
}
#e{
    color: beige;
    background-color: orchid;
}
#f{
    color: darkred;
}
#g{
    color: orange;
    background-color: orangered;
}