.rectangle{
    background-color: skyblue;
    width: 100px;
    height: 100px;
    transition-duration:5s;
    transition-delay: 1s;
}
.rectangle:hover{
background-color: palevioletred;
width: 200px;
height: 200px;
transform: matrix(100,100,100,100);
}
.square{
    background-color: palegoldenrod;
    width: 200px;
    height: 200px;
}
.square:hover{
transform: rotate(20deg);
}
